* {
   margin: 0;
   padding: 0;
}
body{
font-family: "Pacifico", cursive;
.cabecalho 
}
   background-color: #424E61;
   color:white;
   display: flex;
   justify-content: space-arround;
   align-items: center;
   padding: 24px 0;
}

.cabecalho-imagem {
   width: 20%
}

.cabecalho-lista-item {
   display: inline-block;
   margin: 0 16px;
   font-size: 24px;
}

.escola-imagem {
   widh: 25%
}

.escola {
   background-image: linear-gradiend(#424E61, #16CFF80);
   color: white;
   display:flex;
   justify-content: center;
   padding: 24px 0;
   }

.escola-div-conteudo {
   width: 35%;
   }

.escola-titulo {
      padding: 24px 0;
   }

.estudante-imagem{
   width:24px;
   padding:4px 8px;
